h1 {
  text-align: center;
  margin: 3rem 0;
}

.nav-pills {
  li {
    width: 50%;
    text-align: center;
    }
  }

.tab-pane {
  .form-inline {
    .form-control {
      width: 85%;
      margin: 1rem 0;
    }
    .btn_search {
      margin: 0 2rem;
    }
  }
}


.card-body{
  img{
    float: left;
    margin-right: 2rem;
  }
  i,h2{
    display: inline-block;
  }
  i{
    float: right;
    margin-right: 1rem;
  }
}
